img{
    width: 200px;
}

.container-game{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 2fr));
    gap: 1rem;
}

.card {
    border: solid blue 1px;
}
.hidden img{
    visibility: hidden;
}

.hidden-btn{
    display: none;
}
.capa{
    width: 100%;
    top: 0;
    bottom: 0%;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
}
.newCapa {
    width: 100%;
    
    bottom: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    z-index: 999;
}